@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

.title{
    text-align: center;
    color:  #00916e;
    font-weight: bold;
}

footer p{
    color: #00916e;
    font-weight: bold;
    text-align: right;
    font-size: 1.25rem;
}